@layer utilities.u0000 {
.pointer-events-none {
    pointer-events: none;
  }
}
@layer utilities.u0001 {
.visible {
    visibility: visible;
  }
}
@layer utilities.u0003 {
.fixed {
    position: fixed;
  }
}
@layer utilities.u0018 {
.right-6 {
    right: calc(var(--spacing) * 6);
  }
}
@layer utilities.u0025 {
.bottom-6 {
    bottom: calc(var(--spacing) * 6);
  }
}
@layer utilities.u0039 {
.z-40 {
    z-index: 40;
  }
}
@layer utilities.u0075 {
.flex {
    display: flex;
  }
}
@layer utilities.u0085 {
.h-5 {
    height: calc(var(--spacing) * 5);
  }
}
@layer utilities.u0092 {
.h-12 {
    height: calc(var(--spacing) * 12);
  }
}
@layer utilities.u0122 {
.w-5 {
    width: calc(var(--spacing) * 5);
  }
}
@layer utilities.u0129 {
.w-12 {
    width: calc(var(--spacing) * 12);
  }
}
@layer utilities.u0159 {
.translate-y-0 {
    --site-translate-y: calc(var(--spacing) * 0);
    translate: var(--site-translate-x) var(--site-translate-y);
  }
}
@layer utilities.u0161 {
.translate-y-4 {
    --site-translate-y: calc(var(--spacing) * 4);
    translate: var(--site-translate-x) var(--site-translate-y);
  }
}
@layer utilities.u0167 {
.cursor-pointer {
    cursor: pointer;
  }
}
@layer utilities.u0177 {
.items-center {
    align-items: center;
  }
}
@layer utilities.u0181 {
.justify-center {
    justify-content: center;
  }
}
@layer utilities.u0214 {
.rounded-full {
    border-radius: calc(infinity * 1px);
  }
}
@layer utilities.u0283 {
.bg-navy-900 {
    background-color: var(--color-navy-900);
  }
}
@layer utilities.u0425 {
.text-white {
    color: var(--color-white);
  }
}
@layer utilities.u0441 {
.opacity-0 {
    opacity: 0%;
  }
}
@layer utilities.u0446 {
.opacity-100 {
    opacity: 100%;
  }
}
@layer utilities.u0451 {
.shadow-lg {
    --site-shadow: 0 10px 15px -3px var(--site-shadow-color, rgb(0 0 0 / 0.1)), 0 4px 6px -4px var(--site-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--site-inset-shadow), var(--site-inset-ring-shadow), var(--site-ring-offset-shadow), var(--site-ring-shadow), var(--site-shadow);
  }
}
@layer utilities.u0461 {
.transition-all {
    transition-property: all;
    transition-timing-function: var(--site-ease, var(--default-transition-timing-function));
    transition-duration: var(--site-duration, var(--default-transition-duration));
  }
}
@layer utilities.u0465 {
.duration-300 {
    --site-duration: 300ms;
    transition-duration: 300ms;
  }
}
@layer utilities.u0510 {
.hover\:bg-gold-500 {
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-gold-500);
      }
    }
  }
}
@layer utilities.u0521 {
.hover\:text-navy-900 {
    &:hover {
      @media (hover: hover) {
        color: var(--color-navy-900);
      }
    }
  }
}
