.scroll-to-top-button__button-003.scroll-to-top-button__button-003 {
    pointer-events: none;
  }
.scroll-to-top-button__button-001 {
    position: fixed;
  }
.scroll-to-top-button__button-001 {
    right: calc(var(--spacing) * 6);
  }
.scroll-to-top-button__button-001 {
    bottom: calc(var(--spacing) * 6);
  }
.scroll-to-top-button__button-001 {
    z-index: 40;
  }
.scroll-to-top-button__button-001 {
    display: flex;
  }
.scroll-to-top-button__arrow-up-004 {
    height: calc(var(--spacing) * 5);
  }
.scroll-to-top-button__button-001 {
    height: calc(var(--spacing) * 12);
  }
.scroll-to-top-button__arrow-up-004 {
    width: calc(var(--spacing) * 5);
  }
.scroll-to-top-button__button-001 {
    width: calc(var(--spacing) * 12);
  }
.scroll-to-top-button__button-002.scroll-to-top-button__button-002 {
    --site-translate-y: calc(var(--spacing) * 0);
    translate: var(--site-translate-x) var(--site-translate-y);
  }
.scroll-to-top-button__button-003.scroll-to-top-button__button-003 {
    --site-translate-y: calc(var(--spacing) * 4);
    translate: var(--site-translate-x) var(--site-translate-y);
  }
.scroll-to-top-button__button-001 {
    cursor: pointer;
  }
.scroll-to-top-button__button-001 {
    align-items: center;
  }
.scroll-to-top-button__button-001 {
    justify-content: center;
  }
.scroll-to-top-button__button-001 {
    border-radius: calc(infinity * 1px);
  }
.scroll-to-top-button__button-001 {
    background-color: var(--color-navy-900);
  }
.scroll-to-top-button__button-001 {
    color: var(--color-white);
  }
.scroll-to-top-button__button-003.scroll-to-top-button__button-003 {
    opacity: 0%;
  }
.scroll-to-top-button__button-002.scroll-to-top-button__button-002 {
    opacity: 100%;
  }
.scroll-to-top-button__button-001 {
    --site-shadow: 0 10px 15px -3px var(--site-shadow-color, rgb(0 0 0 / 0.1)), 0 4px 6px -4px var(--site-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow: var(--site-inset-shadow), var(--site-inset-ring-shadow), var(--site-ring-offset-shadow), var(--site-ring-shadow), var(--site-shadow);
  }
.scroll-to-top-button__button-001 {
    transition-property: all;
    transition-timing-function: var(--site-ease, var(--default-transition-timing-function));
    transition-duration: var(--site-duration, var(--default-transition-duration));
  }
.scroll-to-top-button__button-001 {
    --site-duration: 300ms;
    transition-duration: 300ms;
  }
.scroll-to-top-button__button-001 {
  }
.scroll-to-top-button__button-001 {
  }
